{% extends 'general/components/base.html' %}
{% load static %}

{% block site_title %}User list | {% endblock %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Department</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="border-bottom: 3px solid #2f5f98;">
                    <h5 class="card-header" style="background-color: #2f5f98; color: aliceblue;">รายชื่อฝ่าย</h5>
                    <div class="card-body">
                        <form method="post" class="row g-3">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <label class="form-label">Name</label>
                                {{ form.name }}
                            </div>
                            <div>
                                <button type="reset" class="btn btn-danger btn-sm">ยกเลิก</button>
                                <button type="submit" class="btn btn-primary btn-sm">บันทึก</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
