{% extends 'general/components/base.html' %}
{% load static %}

{% block site_title %}User list | {% endblock %}

{% block content %}
<main id="main" class="main">
    <div class="pagetitle">
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">ชื่อผู้ใช้งาน</li>
          </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="border-bottom: 3px solid #2f5f98;">
                    <h5 class="card-header" style="background-color: #2f5f98; color: aliceblue;">รายละเอียดข้อมูล</h5>
                    <div class="card-body">
                        <form method="post" class="row g-3 ">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <label class="form-label">NameTH</label>
                                {{ form.nameTH }}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">NameEN</label>
                                {{ form.nameEN }}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Department</label>
                                {{ form.department }}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Telephone</label>
                                {{ form.phone_number }}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Email</label>
                                {{ form.email }}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Role</label>
                                {{ form.role }}
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Username</label>
                                {{ form.username }}
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Password</label>
                                {{ form.password }}
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Name(ชื่อกลาง)</label>
                                {{ form.name }}
                            </div>
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-primary">บันทึก</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
