{% extends 'general/components/base.html' %}

{% block content %}

    <main id="main" class="main">

        <div class="pagetitle">
            <nav>
              <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Claim for Repair</li>
              </ol>
            </nav>
          </div><!-- End Page Title -->
    
        <section class="section">
          <div class="row">
            <div class="col-lg-12">
    
              <div class="card">
                <h5 class="card-header" style="background-color: #2f5f98; color: aliceblue;">Claim for Repair</h5>
                <div class="card-body">
                  <form method="post" class="row g-3 mt-3" enctype="multipart/form-data">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <div style="text-align: right; margin-top: 30px;">
                        <a href="{% url 'claim_list' %}" class="btn btn-danger">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save</button>
                      </div>
                  </form>
                </div>
              </div>
    
            </div>
          </div>
        </section>
    
    </main><!-- End #main -->
{% endblock %}
