{% extends 'general/components/base.html' %}
{% load static %}

{% block site_title %}Service request history | {% endblock  %}
{% block content %}
    
<main id="main" class="main">

  <div class="pagetitle">
    <h5>ประวัติการซ่อม</h5>
  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <!-- Recent Sales -->
                <div class="col-lg-12">
                    <div class="card mt-3">
                        <div class="card-body">
                            <form method="get" action="{% url 'get_repair_history' %}">
                                <div class="row">
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="owner_name" placeholder="ค้นหาชื่อผู้ครอบครอง" value="{{ request.GET.owner_name }}">
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" name="equipment_code" placeholder="ค้นหารหัสอุปกรณ์" value="{{ request.GET.equipment_code }}">
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-outline-primary" name="search"><i class="fas fa-search"></i> search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- {% if request.GET.owner_name or request.GET.equipment_code %}
                        <div class="card">
                            <div class="card-body">
                                <div class="col-md-6 mb-2">
                                    <label for="inputZip" class="form-label">รหัสอุปกรณ์ : <span style="margin-left: 10px; color: #333333;">{% if service_requests %}{{ service_requests.0.equipment }}{% else %}ไม่พบข้อมูล{% endif %}</span></label>
                                </div>
                                <div class="col-md-6 mb-2">
                                    <label for="inputZip" class="form-label">ข้อมูลเครื่อง : <span style="margin-left: 10px; color: #333333;">{% if service_requests %}{{ service_requests.0.equipment }}{% else %}ไม่พบข้อมูล{% endif %}</span></label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-2">
                                        <label for="inputZip" class="form-label">ผู้ครอบครอง : <span style="margin-left: 10px; color: #333333;">{% if service_requests %}{{ service_requests.0.user_name }}{% else %}ไม่พบข้อมูล{% endif %}</span></label>
                                    </div>
                                    <div class="col-md-6 mb-2">
                                        <label for="inputZip" class="form-label">แผนก : <span style="margin-left: 10px; color: #333333;">{% if service_requests %}{{ service_requests.0.user_department }}{% else %}ไม่พบข้อมูล{% endif %}</span></label>
                                    </div>
                                </div>
                            </div>
                        </div>  
                    {% endif %} -->

                    <div class="card recent-sales overflow-auto mt-3" style="border-top: 3px solid #2f5f98;">
                        
                            <div class="card-body">
                                <h5 class="card-title" style="color: #2f5f98;">ประวัติการซ่อม <span class="badge text-bg-primary">{{ service_requests|length }}</span></h5>
                                    <div class="divtriangle" style="border-radius: 5px;padding:10px; background:#fff;">
                                    <!-- Table with stripped rows -->
                                    <table id="table-list" class="table table-striped mt-3 text-center" style="font-size: 14px; width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>เลขที่ใบแจ้งซ่อม</th>
                                                <th>หน่วยงาน</th>
                                                <th>ผู้แจ้ง</th>
                                                <th style="text-align: left;">รายละเอียดปัญหา</th>
                                                <th>วันเวลาที่แจ้ง</th>
                                                <th>รวมเวลาแก้ไข</th>
                                                <th>สถานะ</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for request in service_requests %}
                                            <tr>
                                                <td><a href="{% url 'service_request_detail' request.pk %}">{{ request.service_request_number}}</a></td>
                                                <td>{{ request.user_department }}</td>
                                                <td>{{ request.user_name }}</td>
                                                <td style="text-align: left;">{{ request.request_description }}</td>
                                                <td>{{ request.request_date|date:'j N Y, H:i' }}</td>
                                                <td>{{ request.total_repair_time|date:'j N Y, H:i' }}</td>
                                                <td>{% if request.repair_status.name == 'pending' %}
                                                    <i class="fas fa-stopwatch fa-shake" style="color: rgb(255, 160, 44);"></i>
                                                  {% elif request.repair_status.name == 'in_progress' %}
                                                    <i class="fas fa-spinner fa-spin-pulse" style="color: #235a9e;"></i>
                                                  {% elif request.repair_status.name == 'completed' %}
                                                    <i class="fa-solid fa-circle-check" style="color: rgb(18, 183, 18);"></i>
                                                  {% elif request.repair_status.name == 'canceled' %}
                                                    <i class="fa-solid fa-circle-xmark" style="color: crimson;"></i>
                                                  {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    </div>
                            </div>
                        <!-- </div> -->
                    </div>
                </div><!-- End Recent Sales -->
            </div>
        </div>
    </div>
  </section>

</main><!-- End #main -->

{% endblock content %}