{% extends 'general/components/base.html' %}
{% load static %}
{% load tz %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Dashboard</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
  
    <!-- แสดงข้อความแจ้งเตือนที่นี่ -->
    {% if messages %}
        <div>
            {% for message in messages %}
            <div class="alert 
                {% if message.tags == 'success' %}alert-success
                {% elif message.tags == 'error' %}alert-danger
                {% elif message.tags == 'warning' %}alert-warning
                {% elif message.tags == 'info' %}alert-info
                {% else %}alert-secondary{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>
    {% endif %}

    <section class="section dashboard">
      <div class="row">
  
        <div class="col-lg-12">
          <div class="row">
            <!-- New Card -->
            <div class="col-xxl-3 col-md-6">
              <div class="card info-card new-card" style="border-top: 3px solid #2eca6a;">
  
                <div class="card-body">
                    <h6 class="card-title">ใบแจ้งซ่อมใหม่ </h6>
  
                    <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-chat-square-dots"></i>
                    </div>
                    <div class="ps-5">
                        <h6>{{ new_requests_count }} <span class="text-muted pt-2 ps-3">รายการ</span></h6>
                    </div>
                    </div>
                </div>
  
                </div>
            </div><!-- End New Card -->
  
            <!-- Wait Card -->
            <div class="col-xxl-3 col-md-6">
                <div class="card info-card wait-card" style="border-top: 3px solid #db5353;">
  
                <div class="card-body">
                    <h6 class="card-title">ใบแจ้งซ่อมรอแก้ไข </h6>
  
                    <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-wrench"></i>
                    </div>
                    <div class="ps-5">
                        <h6>{{ in_progress_requests_count }} <span class="text-muted pt-2 ps-3">รายการ</span></h6>
                    </div>
                    </div>
                </div>
  
                </div>
            </div><!-- End Wait Card -->
  
            <!-- Month Card -->
            <div class="col-xxl-3 col-xl-12">
  
                <div class="card info-card month-card" style="border-top: 3px solid #ec9158;">
  
                <div class="card-body">
                    <h6 class="card-title">ใบแจ้งซ่อมประจำเดือน {{ month_name }}</h6>
                    <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bx bxs-calendar"></i>
                    </div>
                    <div class="ps-5">
                        <h6>{{ monthly_requests_count }} <span class="text-muted pt-2 ps-3">รายการ</span></h6>
                    </div>
                    </div>
  
                </div>
                </div>
  
            </div><!-- End Month Card -->
  
            <!-- Years Card -->
            <div class="col-xxl-3 col-xl-12">
  
                <div class="card info-card years-card" style="border-top: 3px solid #2f5f98;">
  
                <div class="card-body">
                    <h6 class="card-title">ใบแจ้งซ่อมประจำปี {{ current_year }}</h6>
  
                    <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-clipboard-data"></i>
                    </div>
                    <div class="ps-5">
                        <h6>{{ yearly_requests_count }} <span class="text-muted pt-2 ps-3">รายการ</span></h6>
                    </div>
                    </div>
  
                </div>
                </div>
  
            </div><!-- End Years Card -->
  
          </div>
        </div>
  
        <div class="col-lg-12">
          <div class="row">
            <!-- Recent Sales -->
            <div class="col-lg-12">
              <div class="card recent-sales overflow-auto" style="border-top: 3px solid #2f5f98;">
  
                <div class="card-body">
                  <h5 class="card-title" style="color: #2f5f98;">รายการใบแจ้งซ่อม</h5>
                      <ul class="nav nav-tabs" id="myTab" role="tablist">
                          <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true">รอรับงาน
                            <span class="badge bg-danger">{{ pending_count }}</span>
                          </button>
                          </li>
                          <li class="nav-item" role="presentation">
                          <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false">รอการแก้ไข
                            <span class="badge bg-primary">{{ in_progress_count }}</span>
                          </button>
                          </li>
                          <li class="nav-item" role="presentation">
                          <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false">แก้ไขเรียบร้อย
                            <span class="badge bg-success">{{ completed_count }}</span>
                          </button>
                          </li>
                          <li class="nav-item" role="presentation">
                          <button class="nav-link" id="tab4-tab" data-bs-toggle="tab" data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4" aria-selected="false">รายการยกเลิก
                            <span class="badge bg-secondary">{{ canceled_count }}</span>
                          </button>
                          </li>
                      </ul>
                      <!-- Table with stripped rows -->
                      <div class="tab-content" id="myTabContent">
                          <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                          <div class="divtriangle" style="border-radius: 5px;padding:10px; background:#fff;">
                          <table class="table table-striped mt-3 text-center" style="font-size: 14px; ">
                              <thead class="text-center">
                              <tr>
                                  <th>เลขที่ใบแจ้งซ่อม</th>
                                  <th>หน่วยงาน</th>
                                  <th>ผู้แจ้ง</th>
                                  <th style="text-align: left;">รายละเอียดปัญหา</th>
                                  <th>วันเวลาที่แจ้ง</th>
                                  <th>สถานะ</th>
                              </tr>
                              </thead>
                              <tbody>
                                {% for request in pending_requests %}
                                    <tr>
                                        <td><a href="{% url 'service_request_detail' request.pk %}">{{ request.service_request_number }}</a></td>
                                        <td>{{ request.user_department }}</td>
                                        <td>{{ request.user_name }}</td>
                                        <td style="text-align: left;">{{ request.request_description }}</td>
                                        <td>{{ request.request_date|default_if_none:""|date:'j N Y, H:i' }}</td>
                                        <td><i class="fas fa-stopwatch fa-shake" style="color: rgb(255, 160, 44);"></i></td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="6">ไม่มีคำร้องที่รอการดำเนินการ</td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                          </div>
                          </div>
  
                          <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                          <table  class="table table-striped mt-3" style="font-size: 14px; text-align: center;">
                              <thead>
                              <tr>
                                  <th scope="col">เลขที่ใบแจ้งซ่อม</th>
                                  <th scope="col">หน่วยงาน</th>
                                  <th scope="col">ผู้แจ้ง</th>
                                  <th scope="col">รายละเอียดปัญหา</th>
                                  <th scope="col">วันเวลาที่แจ้ง</th>
                                  <th scope="col">วันเวลาที่รับงาน</th>
                                  <th scope="col">วันที่อัพเดต</th>
                                  <th scope="col">สถานะ</th>
                              </tr>
                              </thead>
                              <tbody>
                                {% for request in in_progress_requests %}
                                    <tr>
                                        <td><a href="{% url 'service_request_detail' request.pk %}">{{ request.service_request_number }}</a></td>
                                        <td>{{ request.user_department }}</td>
                                        <td>{{ request.user_name }}</td>
                                        <td style="text-align: left;">{{ request.request_description }}</td>
                                        <td>{{ request.request_date|default_if_none:""|date:'j N Y, H:i' }}</td>
                                        <td>{{ request.date_received|default_if_none:""|date:'j N Y, H:i' }}</td>
                                        <td>
                                            {% with request.repair_updates.last as last_update %}
                                                {{ last_update.update_datetime|default_if_none:""|date:'j N Y, H:i' }}
                                            {% endwith %}
                                        </td>
                                        <td><i class="fas fa-spinner fa-spin-pulse" style="color: #235a9e;"></i></td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="8">ไม่มีคำร้องที่กำลังดำเนินการ</td>
                                    </tr>
                                {% endfor %}
                              </tbody>
                          </table>
                          </div>
                          <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                              <div class="divtriangle" style="border-radius: 5px;padding:10px; background:#fff; overflow-x: auto; overflow-y: auto; height: 500px;">
                                  <table class="table table-striped mt-3" style="font-size: 14px;">
                                      <thead>
                                          <tr>
                                              <th scope="col" style="width: 10%;">เลขที่ใบแจ้งซ่อม</th>
                                              <th scope="col" style="width: 10%;">หน่วยงาน</th>
                                              <th scope="col">ผู้แจ้ง</th>
                                              <th scope="col" style="width: 20%;">รายละเอียดปัญหา</th>
                                              <th scope="col">ผู้ดำเนินการ</th>
                                              <th scope="col">วันที่แจ้ง</th>
                                              <th scope="col">วันที่รับงาน</th>
                                              <th scope="col">วันที่เสร็จ</th>
                                              <th scope="col">รวมเวลาแก้ไข</th>
                                              <th scope="col" style="width: 5%;">สถานะ</th>
                                          </tr>
                                      </thead>
                                      <tbody>
                                        {% for request in completed_requests %}
                                            <tr>
                                                <td><a href="{% url 'service_request_detail' request.pk %}">{{ request.service_request_number }}</a></td>
                                                <td>{{ request.user_department }}</td>
                                                <td>{{ request.user_name }}</td>
                                                <td>{{ request.request_description }}</td>
                                                <td>{{ request.operator }}</td>
                                                <td>{{ request.request_date|default_if_none:""|localtime|date:'j N Y, H:i' }}</td>
                                                <td>{{ request.date_received|default_if_none:""|date:'j N Y, H:i' }}</td>
                                                <td>{{ request.date_completed|default_if_none:""|date:'j N Y, H:i' }}</td>
                                                <td>{{ request.total_repair_time|default_if_none:""}}</td>
                                                <td><i class="fa-solid fa-circle-check" style="color: rgb(18, 183, 18);"></i></td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="10">ไม่มีคำร้องที่เสร็จสิ้นแล้ว</td>
                                            </tr>   
                                        {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                          <div class="tab-pane fade" id="tab4" role="tabpanel" aria-labelledby="tab4-tab">
                              <div class="divtriangle" style="border-radius: 5px;padding:10px; background:#fff; overflow-x: auto; overflow-y: auto; height: 300px;">
                                  <table class="table table-striped mt-3" style="font-size: 14px; ">
                                      <thead style="position: sticky; top: 0; background-color: #fff; z-index: 1;">
                                      <tr>
                                          <th scope="col">เลขที่ใบแจ้งซ่อม</th>
                                          <th scope="col">หน่วยงาน</th>
                                          <th scope="col">ผู้แจ้ง</th>
                                          <th scope="col">รายละเอียดปัญหา</th>
                                          <th scope="col">วันเวลาที่แจ้ง</th>
                                          <th scope="col">วันที่รับงาน</th>
                                          <th scope="col">วันที่เสร็จ</th>
                                          <th scope="col">รวมเวลาแก้ไข</th>
                                          <th scope="col">สถานะ</th>
                                      </tr>
                                      </thead>
                                      <tbody>
                                        {% for request in canceled_requests %}
                                            <tr>
                                                <td><a href="{% url 'service_request_detail' request.pk %}">{{ request.service_request_number }}</a></td>
                                                <td>{{ request.user_department }}</td>
                                                <td>{{ request.user_name }}</td>
                                                <td>{{ request.request_description }}</td>
                                                <td>{{ request.request_date|default_if_none:""|date:'j N Y, H:i' }}</td>
                                                <td>{{ request.date_received|default_if_none:""|date:'j N Y, H:i' }}</td>
                                                <td>{{ request.date_completed|default_if_none:""|date:'j N Y, H:i' }}</td>
                                                <td>{{ request.total_repair_time|default_if_none:""}}</td>
                                                <td><i class="fa-solid fa-circle-xmark" style="color: crimson;"></i></td>
                                            </tr>
                                            {% empty %}
                                            <tr>
                                                <td colspan="9">ไม่มีคำร้องที่ถูกยกเลิก</td>
                                            </tr>
                                        {% endfor %}
                                      </tbody>
                                  </table>
                              </div>
                          </div>
                      </div>
                </div>
              </div>
            </div><!-- End Recent Sales -->
          </div>
        </div>
  
        <!-- Left side columns -->
        <div class="col-lg-12">
            <div class="row">
                <!-- Reports -->
                <div class="col-12">
                    
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                        <h6 class="card-title" style="color: #2f5f98;">สถิติการแจ้งซ่อม</h6>
                            <ul class="nav nav-tabs" id="tabStatistics" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button type="button" class="nav-link active" id="Statistics1-tab" data-bs-toggle="tab" data-bs-target="#Statistics1" role="tab" aria-controls="tab1" aria-selected="true">สถิติการแจ้งซ่อม</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button type="button" class="nav-link" id="Statistics2-tab" data-bs-toggle="tab" data-bs-target="#Statistics2" role="tab" aria-controls="tab2" aria-selected="true">สถิติการแจ้งซ่อมแยกประเภท</button>
                                </li>
                            </ul>

                            <div class="tab-content" id="tabStatisticsContent">
                                <div class="tab-pane fade show active" id="Statistics1" role="tabpanel" aria-labelledby="Statistics1-tab">
                                    <div class="mt-5">
                                        <!-- ฟอร์มสำหรับเลือกเดือนและปี -->
                                        <form method="get" action="">
                                            <div class="row align-items-end">
                                                <label class="col-auto col-form-label" style="text-align: right;">เดือน :</label>
                                                <div class="col-auto">
                                                    <select class="form-select" name="month" aria-label="Select month">
                                                        <option value="" {% if not request.GET.month %}selected{% endif %}>---------</option>
                                                        <option value="1" {% if request.GET.month == "1" %}selected{% endif %}>มกราคม</option>
                                                        <option value="2" {% if request.GET.month == "2" %}selected{% endif %}>กุมภาพันธ์</option>
                                                        <option value="3" {% if request.GET.month == "3" %}selected{% endif %}>มีนาคม</option>
                                                        <option value="4" {% if request.GET.month == "4" %}selected{% endif %}>เมษายน</option>
                                                        <option value="5" {% if request.GET.month == "5" %}selected{% endif %}>พฤษภาคม</option>
                                                        <option value="6" {% if request.GET.month == "6" %}selected{% endif %}>มิถุนายน</option>
                                                        <option value="7" {% if request.GET.month == "7" %}selected{% endif %}>กรกฏาคม</option>
                                                        <option value="8" {% if request.GET.month == "8" %}selected{% endif %}>สิงหาคม</option>
                                                        <option value="9" {% if request.GET.month == "9" %}selected{% endif %}>กันยายน</option>
                                                        <option value="10" {% if request.GET.month == "10" %}selected{% endif %}>ตุลาคม</option>
                                                        <option value="11" {% if request.GET.month == "11" %}selected{% endif %}>พฤศจิกายน</option>
                                                        <option value="12" {% if request.GET.month == "12" %}selected{% endif %}>ธันวาคม</option>
                                                        
                                                    </select>
                                                </div>

                                                <label class="col-auto col-form-label" style="text-align: right;">ปี :</label>
                                                <div class="col-auto">
                                                    <select class="form-select" name="year" aria-label="Select year">
                                                        {% for year in years %}
                                                            <option value="{{ year }}" {% if year == current_year %}selected{% endif %}>{{ year }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-auto">
                                                    <button type="submit" class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <table class="table table-bordered table-striped mt-3" style="font-size: 13px; width: 100%;">
                                        <thead class="text-center">
                                            <tr>
                                                <th rowspan="2">ลำดับ</th>
                                                <th rowspan="2">รายงาน</th>
                                                <th colspan="3">ปี {{ current_year }}</th>
                                            </tr>
                                            <tr>
                                                <th>ผู้ใช้บริการ</th>
                                                <th>ผู้ให้บริการ</th>
                                                <th>ค่าใช้จ่าย</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for repair_type, data in summary_data.items %}
                                                {% if repair_type in it_repair_types %}
                                                    <!-- แถวประเภท "อุปกรณ์ IT" -->
                                                    <tr>
                                                        <td class="text-center">{{ forloop.counter }}</td>
                                                        <td colspan="4">{{ repair_type }}</td>
                                                    </tr>
                                    
                                                    <!-- แสดง subtopics สำหรับประเภท "อุปกรณ์ IT" -->
                                                    {% for subtopic_title, subtopic in data.subtopics.items %}
                                                        <tr>
                                                            <td></td>
                                                            <td>- {{ subtopic_title }}</td>
                                                            <td class="text-center">
                                                                <a href="{% url 'service_request_list' %}?month={{ request.GET.month }}&year={{ request.GET.year }}&repair_type={{ repair_type }}&subtopic_title={{ subtopic_title }}">
                                                                    {{ subtopic.total_requests }}
                                                                </a>
                                                            </td>
                                                            <td class="text-center">IT = {{ subtopic.it_count }} , Outsource = {{ subtopic.outsource_count }}</td>
                                                            <td class="text-center">{{ subtopic.total_cost|floatformat:2 }}</td>
                                                        </tr>
                                                    {% endfor %}
                                    
                                                    <!-- แถวรวมสำหรับประเภท "อุปกรณ์ IT" -->
                                                    <tr>
                                                        <td></td>
                                                        <td style="text-align: right;">รวม</td>
                                                        <td style="text-align: center;">
                                                            <a href="{% url 'service_request_list' %}?month={{ request.GET.month }}&year={{ request.GET.year }}&repair_type={{ repair_type }}">
                                                                {{ data.total_requests }}
                                                            </a>
                                                        </td>
                                                        <td></td>
                                                        <td style="text-align: center;">{{ data.total_cost|floatformat:2 }}</td>
                                                    </tr>
                                    
                                                {% else %}
                                                    <!-- สำหรับประเภทอื่น ๆ ที่ไม่ใช่ "อุปกรณ์ IT" -->
                                                    <tr>
                                                        <td class="text-center">{{ forloop.counter }}</td>
                                                        <td>{{ repair_type }}</td>
                                                        <td class="text-center">
                                                            <a href="{% url 'service_request_list' %}?month={{ request.GET.month }}&year={{ request.GET.year }}&repair_type={{ repair_type }}">
                                                                {{ data.total_requests }}
                                                            </a>
                                                        </td> 
                                                        <td class="text-center">IT = {{ data.it_count }} , Outsource = {{ data.outsource_count }}</td>
                                                        <td class="text-center">{{ data.total_cost|floatformat:2 }}</td>
                                                    </tr>
                                                {% endif %}
                                                
                                            {% endfor %}
                                    
                                            <!-- แถวรวมทั้งหมด -->
                                            <tr>
                                                <td></td>
                                                <td style="text-align: right;">รวมทั้งสิ้น</td>
                                                <td style="text-align: center;">{{ total_requests_all }}</td>
                                                <td style="text-align: center;"></td>
                                                <td style="text-align: center;">{{ total_cost_all|floatformat:2 }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="tab-pane fade" id="Statistics2" role="tabpanel" aria-labelledby="Statistics2-tab">
                                    <div class="mt-5">
                                        <form method="get" action="">
                                            <div class="row align-items-end">
                                                <!-- type selection -->
                                                <label class="col-auto col-form-label" style="text-align: right;">ประเภทการซ่อม :</label>
                                                <div class="col-auto">
                                                    <select class="form-select" aria-label="Select type">
                                                        <option selected>---------</option>
                                                        <option value="1">อุปกรณ์ IT</option>
                                                        <option value="2">โปรแกรมและระบบ ERP</option>
                                                        <option value="3">ระบบ Network และ Internet</option>
                                                        <option value="4">กล้องวงจรปิด</option>
                                                        <option value="5">ประชาสัมพันธ์บนป้ายโฆษณา LED</option>
                                                        <option value="6">ขอรับบริการเครื่องพิมพ์ขนาดใหญ่</option>
                                                        <option value="7">ขอรับบริการ VDO Conference</option>
                                                    </select>
                                                </div>

                                                <!-- Month selection -->
                                                <label class="col-auto col-form-label" style="text-align: right;">เดือน :</label>
                                                <div class="col-auto">
                                                    <select class="form-select" aria-label="Select month">
                                                        <option selected>---------</option>
                                                        <option value="1">มกราคม</option>
                                                        <option value="2">กุมภาพันธ์</option>
                                                        <option value="3">มีนาคม</option>
                                                        <option value="4">เมษายน</option>
                                                        <option value="5">พฤษภาคม</option>
                                                        <option value="6">มิถุนายน</option>
                                                        <option value="7">กรกฏาคม</option>
                                                        <option value="8">สิงหาคม</option>
                                                        <option value="9">กันยายน</option>
                                                        <option value="10">ตุลาคม</option>
                                                        <option value="11">พฤศจิกายน</option>
                                                        <option value="12">ธันวาคม</option>
                                                    </select>
                                                </div>
                                        
                                                <!-- Year selection -->
                                                <label class="col-auto col-form-label" style="text-align: right;">ปี :</label>
                                                <div class="col-auto">
                                                    <select class="form-select" aria-label="Select year">
                                                        <option selected>---------</option>
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                        <option value="2027">2027</option>
                                                        <option value="2028">2028</option>
                                                        <option value="2029">2029</option>
                                                    </select>
                                                </div>
                                        
                                                <!-- Search button -->
                                                <div class="col-auto">
                                                    <button type="submit" class="btn btn-outline-primary" name="search">
                                                        <i class="fas fa-search"></i> search
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>

                                    <table class="table table-bordered table-striped mt-3" style="font-size: 14px; width: 100%;">
                                        <thead class="text-center">
                                            <tr>
                                                <th rowspan="2" class="text-center">ประเภท</th>
                                                <th colspan="5" class="text-center">งาน</th>
                
                                            </tr>
                                            <tr>
                                                <th>รอรับงาน</th>
                                                <th>รอการแก้ไข</th>
                                                <th>แก้ไขเรียบร้อย</th>
                                                <th>ยกเลิก</th>
                                                <th>รวม</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="text-center">
                                                <td style="text-align: left">อุปกรณ์ IT</td>
                                                <td>0</td>
                                                <td>4</td>
                                                <td>2364</td>
                                                <td>74</td>
                                                <td>2442</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td style="text-align: left;">โปรแกรมและระบบ ERP</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>578</td>
                                                <td>20</td>
                                                <td>599</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td style="text-align: left;">ระบบ Network และระบบ Internet</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>327</td>
                                                <td>5</td>
                                                <td>332</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td style="text-align: left;">กล้องวงจรปิด</td>
                                                <td>0</td>
                                                <td>2</td>
                                                <td>129</td>
                                                <td>16</td>
                                                <td>147</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td style="text-align: left;">ประชาสัมพันธ์บนป้ายโฆษณา LED</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>33</td>
                                                <td>0</td>
                                                <td>33</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td style="text-align: left;">ขอรับบริการเครื่องพิมพ์ขนาดใหญ่</td>
                                                <td>0</td>
                                                <td>0</td>
                                                <td>431</td>
                                                <td>5</td>
                                                <td>436</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td style="text-align: left;">ขอรับบริการ VDO Conference</td>
                                                <td>0</td>
                                                <td>1</td>
                                                <td>129</td>
                                                <td>7</td>
                                                <td>137</td>
                                            </tr>
                                            <tr class="text-center">
                                                <td style="text-align: left;">รวม</td>
                                                <td>0</td>
                                                <td>8</td>
                                                <td>3991</td>
                                                <td>127</td>
                                                <td>4126</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- End Reports -->
            </div>
        </div><!-- End Left side columns -->


        <div class="col-md-6">
            <!-- Repair Chart -->
            <div class="card">
    
                <div class="card-body pb-0">
                    <h6 style="color: #2f5f98;">สถิติการแจ้งซ่อมในปี {{ current_year }}</h6>

                    <div id="repairChart" style="min-height: 350px;" class="echart"></div>
                    
                    <script>
                        // กราฟการแจ้งซ่อม
                        document.addEventListener("DOMContentLoaded", () => {
                            const repairChartData = JSON.parse('{{ repair_chart_data|safe }}');
                            const repairChart = echarts.init(document.querySelector('#repairChart'));
                            repairChart.setOption({ 
                                tooltip: {
                                trigger: 'item'
                                },
                                legend: {
                                    top: '5%',
                                    left: 'center'
                                },
                                series: [
                                    {
                                        top: '15%',
                                        name: 'Repair Types',
                                        type: 'pie',
                                        radius: '50%',
                                        data: repairChartData,

                                        label: {
                                        show: true,
                                        position: 'outside',
                                        formatter: '{b}: ({d}%)',
                                        distance: 20
                                        },
                                        labelLine: {
                                            show: true,
                                            smooth: true,
                                            length: 15,
                                            length2: 25
                                        }
                                    }
                                ]
                            });
                        });
                    </script>
    
                </div>
            </div><!-- End Repair Chart -->
        </div>

        <div class="col-md-6">
            <!-- Score Chart -->
            <div class="card">
    
                <div class="card-body pb-0">
                <h6 style="color: #2f5f98;">สรุปความพึงพอใจใบแจ้งซ่อมในปี {{ current_year }}</h6>
    
                <div id="scoreChart" style="min-height: 350px;" class="echart"></div>

                <script>
                    document.addEventListener("DOMContentLoaded", () => {
                        const chartData = JSON.parse('{{ chart_data|safe }}');
                        const chart = echarts.init(document.querySelector("#scoreChart"));
                        chart.setOption({
                            tooltip: {
                                trigger: 'item'
                            },
                            legend: {
                                top: '5%',
                                left: 'center'
                            },
                            color: ['#ff6384', '#36a2eb', '#ffcd56', '#4bc0c0', '#9966ff'],
                            series: [
                                {
                                    
                                    name: 'ความพึงพอใจ',
                                    type: 'pie',
                                    radius: ['40%', '70%'],
                                    center: ['50%', '70%'],
                                    startAngle: 180,
                                    endAngle: 360,
                                    avoidLabelOverlap: true,
                                    data: chartData,
                                    label: {
                                        show: true,
                                        position: 'outside',
                                        formatter: '{b}: {c} ({d}%)',
                                        distance: 20
                                    },
                                    labelLine: {
                                        show: true,
                                        smooth: true,
                                        length: 15,
                                        length2: 25
                                    }
                                }
                            ]
                        });
                    });
                </script>
    
                </div>
            </div><!-- End Score Chart -->
        </div>

      </div>
    </section>
  
  </main><!-- End #main -->


{% endblock content %}