{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block site_title %}{% endblock %} IT Service</title>

    <!-- Favicons -->
    <link rel="icon" href="{% static 'general/img/logo.png' %}">

    <!-- CSS Style -->
    <link rel="stylesheet" href="{% static 'general/css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'general/css/style.css' %}">

    <!-- Vendor CSS Files -->
    <link rel="stylesheet" href="{% static 'general/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/vendor/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'general/vendor/glightbox/css/glightbox.min.css' %} " >
    <link rel="stylesheet" href="{% static 'general/vendor/fontawesome/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/vendor/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/vendor/quill/quill.snow.css' %}">
    <link rel="stylesheet" href="{% static 'general/vendor/quill/quill.bubble.css' %}">
    <link rel="stylesheet" href="{% static 'general/vendor/remixicon/remixicon.css' %}">
    <link rel="stylesheet" href="{% static 'general/vendor/select2/css/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'general/vendor/DataTables/datatables.min.css' %}">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" /> -->

</head>
<body>
    {% include 'general/components/site_header.html' %}
    {% include 'general/components/site_sidebar.html' %}
    {% block content %}{% endblock content %}
    {% include 'general/components/site_footer.html' %}


    <script src="{% static 'general/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'general/vendor/select2/js/select2.min.js' %}"></script>
    <script src="{% static 'general/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'general/vendor/apexcharts/apexcharts.min.js' %}"></script>
    <script src="{% static 'general/vendor/glightbox/js/glightbox.min.js' %} "></script>
    <script src="{% static 'general/vendor/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'general/vendor/echarts/echarts.min.js' %}"></script>
    <script src="{% static 'general/vendor/quill/quill.js' %}"></script>
    <script src="{% static 'general/vendor/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'general/vendor/DataTables/datatables.min.js' %}"></script>
    <script src="{% static 'general/js/main.js' %}"></script>
    <script src="{% static 'general/js/function.js' %}"></script>
    
    <script>

    $(document).ready(function() {
        $('.select2').select2(); 
    });

    // Select2 Form Service Request
    $(document).ready(function() {
        const userNameField = $('#{{ form.user_name.id_for_label }}');
        if (userNameField.length) {
            userNameField.select2({
                placeholder: "---------",
                allowClear: true
            });
        }

        $('#user_name_select').change(function() {
            var userId = $(this).val();
            if (userId) {
                $.ajax({
                    url: "{% url 'get_user_details' %}",
                    data: {
                        'user_id': userId
                    },
                    success: function(data) {
                        $('#id_user_department').val(data.department);
                        $('#id_user_contact').val(data.contact);
                    }
                });
            } else {
                $('#id_user_department').val('');
                $('#id_user_contact').val('');
            }
        });
    });

    </script>
</body>
</html>