{% load static %}

<!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{% url 'home' %}" class="logo d-flex align-items-center">
        <img src="{% static 'general/img/logo.png' %}" alt="">
        <span class="d-none d-lg-block">IT Services</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">
        
        <li class="nav-item pe-3">
          {% if request.session.user_id %}
              <!-- ปุ่มออกจากระบบ -->
              <a href="" class="btn btn-default" style="color: #012970;">
                  <i class="fa fa-user-circle"></i> {{ request.session.name }}
              </a>
              <a href="{% url 'logout' %}" class="btn btn-default" style="color: #012970;">
                  <i class="bi bi-box-arrow-right"></i> ออกจากระบบ
              </a>
          {% else %}
              <!-- ปุ่มเข้าสู่ระบบ -->
              <button type="button" class="btn btn-default" style="color: #012970;" data-bs-toggle="modal" data-bs-target="#loginModal">
                  <i class="bi bi-box-arrow-in-right"></i> เข้าสู่ระบบ
              </button>
          {% endif %}
        </li>
      </ul>
    </nav>

  </header>

<<!-- Modal Structure -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content custom-modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'custom_login' %}">
                    {% csrf_token %}
                    <div class="form-group mb-3">
                        <label for="username" class="form-label">Username</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-user-circle"></i></span>
                            <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="password" class="form-label">Password</label>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fa fa-lock"></i></span>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block w-100">Login</button>
                </form>
            </div>
        </div>
    </div>
</div>